@tailwind base;
@tailwind components;
@tailwind utilities;
/* Modo Claro (por defecto) */
:root {
  --color-primary: #4F46E5;
  --color-primary-hover: #4338CA;
  --color-secondary: #6366F1;
  --color-background: #FFFFFF;
  --color-background-alt: #e5eaf0;
  --color-text-primary: #111827;
  --color-text-secondary: #374151;
  --color-accent: #FBBF24;
  --color-text-alt: #eceef3;
  --color-borderAlt: #7a7878;
  --color-borderr: #bababb;
}

/* Modo Oscuro */
.dark {
  --color-primary: #818CF8;
  --color-primary-hover: #6366F1;
  --color-secondary: #A5B4FC;
  --color-background: #1F2937;
  --color-background-alt: #111827;
  --color-text-primary: #F9FAFB;
  --color-text-secondary: #D1D5DB;
  --color-text-alt: #eceef3;
  --color-accent: #FBBF24;
  --color-borderAlt: #080c14;
  --color-borderr: #131d30;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  
  scroll-behavior: smooth;
}


